/* generali */
li {
  display: inline-block;
}
*a {
  text-decoration: none;
}
/* /generali */

/* helpers */
.row_centered {
  text-align: center;
}
/* /helpers */
* div {
  border: 1px solid red;
}

.men_color {
    color: #ffffff;
}

.nav_color {
  background-color: #2c3e50;
}

.jum_color {
  background-color: #1abc9c;
}

.content {
  height: 500px;
  margin: 51px auto;
  background-color: lightblue;
}
