/* generali */
li {
  display: inline-block;
}





/* .logo {
  display: inline-block;
  height: 104px;
  background-color: green;
  width: 50%;
}
.menu {
  display: inline-block;
  text-align: right;
} */
