body {
  font-family: 'Montserrat', sans-serif;
}
/* generali */
* a {
  text-decoration: none;
}

ul, li {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
}
/* /generali */

/* typo */
.ft_18 {
  font-size: 18px;
}
.ft_25 {
  font-size: 25px;
}
.ft_50 {
  font-size: 50px;
}

.bold-700 {
  font-weight: 700;
}
.bold {
  font-weight: bold;
  font-size: 15px;
}

.frm_txt {
  font-size: 20px;
  font-weight: 200;
}
/* /typo */

/* helpers */
.centered {
  text-align: center;
}
.mt_20 {
  margin-top: 20px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_80 {
  margin-top: 80px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_80 {
  margin-bottom: 80px;
}
.pd_tb_50 {
  padding: 50px 0;
}
.txt_left {
  text-align: left;
}
/* /helpers */
/* colori  */
.bg_black {
  background-color: black;
}
.c_black {
  color: black;
}
.bg_nav_color {
  background-color: #2c3e50;
}

.bg_color_green{
  background-color: #1abc9c;
}
.text_color_white {
  color: #fff;
}
.bg_white {
  background-color: white;
}
.c_grey {
  color: grey;
}
/* /colori  */

/* componenti */
#button {
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}

.snd_btn {
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  background-color: #1abc9c;
}
/* /componenti */

.navbar {
  border: 0;
  margin-bottom: 0;
}

.navbar-right, .navbar-left {
  line-height: 50px
}

.navbar > .container {
  line-height: 30px;
}

#footer {
  background-color: #2c3e50;
}
.copyright {
  background-color: #1a252e;
}
/* jumbotron */
.content {
  text-align: center;
  height: 500px;
  max-width: 800px;
  margin: 51px auto;
}

.content > img {
  width: 30%;
}
.divider {
  padding: 20px 0;
  width: 100%;
}
.line_sx, .line_dx {
  display: inline-block;
  border-radius: 1rem;
  height: 4px;
  width: 20%;
  max-width: 15%;
}
.fas.fa-star {
  font-size: 35px;
  vertical-align: middle;
  display: inline-block;
}
.line_sx {
  margin-left: -150px;
  margin-right: 10px;
}

.line_dx {
  margin-right: -150px;
  margin-left: 10px;
}
/* /jumbotron */

/* portfolio */
.cabin {
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
}
a > img {
  width: 100%;
}
/* /portfolio */

/* about */
.small_container {
  max-width: 800px;
  width: 70%;
  margin: auto;
}

#button > i {
  margin-right: 10px;
}
.btn {
  height: 66px;
}
/* /about */

/* contact me */
#contact_me .line_sx, #contact_me .line_dx  {
  max-width: 6%;
}

.ml {
  border: 0;
  color: lightgray;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
}

/* /contact me */
