
.ml {
  border: 0;
  color: lightgray;
  box-shadow: none;
  border-bottom: 1px solid;
  border-radius: 0;
}


.cabin {
  height: 260px;
  width: 360px;
  position: relative;
  top: 0;
  left: 0;

}
img {
  width: 100%;
}
.plus:hover {
  opacity: 1;
}

.plus {
  height: 260px;
  width: 360px;
  background-color: rgba(26, 188, 156, 0.9);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.pluz{
  color: white;
  position: absolute;
  top: 0;
  left: 140px;
  font-size: 90px;
  line-height: 260px;
}
